<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Universitária</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div style="text-align: center; margin-bottom: 40px;">
        <h1 style="font-size: 3rem;"><img class="page-icon page-icon--large" src="/icons/livroo.svg" alt="Biblioteca"> Biblioteca</h1>
        <p style="color: #666; font-size: 1.2rem;">Sistema de Gestão Integrado</p>
    </div>

    <ul>
        <li>
            <a href="/usuarios">
                <div style="text-align: center;">
                    <img class="page-icon page-icon--medium" src="/icons/users.svg" alt="Usuários"><br>
                    Usuários
                </div>
            </a>
        </li>
        <li>
            <a href="/livros">
                <div style="text-align: center;">
                    <img class="page-icon page-icon--medium" src="/icons/books.svg" alt="Livros"><br>
                    Livros
                </div>
            </a>
        </li>
        <li>
            <a href="/emprestimos">
                <div style="text-align: center;">
                    <img class="page-icon page-icon--medium" src="/icons/emprestimo.svg" alt="Empréstimos"><br>
                    Empréstimos
                </div>
            </a>
        </li>
    </ul>

</body>
</html>